includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
    ignoreErrors:
        - '#PHPDoc tag @var#'
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions (?)
        - app/Http/Kernel.php (?)
        - app/Http/Middleware (?)
        - app/Providers (?)
        - app/Models/User.php (?)
    reportUnmatchedIgnoredErrors: false
